<% provide(:title,"CONTACT") %>
<<<<<<< HEAD

=======
<% provide(:content, "Contact email: rverma@sfu.ca, cyahn@sfu.ca, lza93@sfu.ca, codyc@sfu.ca, minxinz@sfu.ca") %>
>>>>>>> 9154163c9b2d4d3cf0133f712980f740a3d38c25


<% provide(:name, "Contact") %>
<h1> 
	<%= yield (:name) %>
</h1>
<<<<<<< HEAD

<div class = "relative">
	<div class = "absolute">
		<div id = "header">
		<h1>We Are CMPT- 276 Students</h1> 
___________________________________________________________________________________________________________
		</div>
		<div id ="section">
			<h2>rverma@sfu.ca</h2>
			<h2>cyahn@sfu.ca</h2>
			<h2>lza93@sfu.ca</h2>
			<h2>codyc@sfu.ca</h2>
			<h2>minxinz@sfu.ca</h2>
	</div>
	</div>
</div>
=======
<h2> 
	<%= yield (:content) %>
</h2>
>>>>>>> 9154163c9b2d4d3cf0133f712980f740a3d38c25
