<% provide(:title,"PROFILE") %>
<% provide(:name,"PROFILE") %>

<h1> 
	<%= yield (:name) %>
</h1>

<% if current_user %>

  </br>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
         <li><strong>Username:</strong> <%= current_user.username %></li>
        <li><strong>Email:</strong> <%= current_user.email %></li>
        
        

      </ul>
    </div>
  </div>

<% end %>

